body {
	background-color: black !important;	
}

.wrapper {	
	margin-top: 55px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #000;
  border: 1px solid rgba(0,0,0,0.1);
  color: gold;
  border: 2px solid gold;
  border-radius: 5px;
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
      color: white;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
      background-color: black;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
         background-color: black;
	}
    
    input[type="text"]:focus {
	   border-color: gold;
	}
    input[type="password"]:focus {
	   border-color: gold;
	}
    

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus  {
        background-color: black;
        border: 2px solid gold;
    }
.btn-primary:hover{
        background-color: black;
        border: 2px solid gold;
        opacity: 0.75;
    }

#para1 {
    text-align: center;
    color: red;
    display: none;
}

.login-navbar-brand{
    padding: 25px 50px;
    color: gold;
    font-size: 25px;
}

.navbar-brand{
    padding: 25px 50px;
    color: gold;
}
.navbar-nav {
    margin:11px;
}

#createAccount {
    text-decoration: underline;
    margin: 0 auto;
    display: table;
    padding-bottom: 3px;
    align-self: center;
}

#incorrectEmail {
    display: none;
}

#incorrectPassword {
    display: none;
}

.navbar-nav>li>a:hover {
    background-color:black;
}

.input-group stylish-input-group {
    margin-top: 100px;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.stylish-input-group .input-group-addon{
    background: black !important; 
}

.search-container{
    margin: 0 auto;
    background-color:red;
    height: 90%;
    width: 75%;
    border: 1px solid #428bca;
}